<%- include ('../partials/header') %>
<h1><%= title %></h1>

<form action="<%= dishInstance._id %>?_method=PUT" method="POST">
    <input name="dish" value="<%= dishInstance.dish %>">
    <input name="order" value="<%= dishInstance.order %>">
    <input name="quantity" value="<%= dishInstance.quantity %>">

    <button type="submit">Submit</button>
</form>

<%- include ('../partials/footer') %>
