<%- include ('../partials/header') %>
<h1><%= title %></h1>

<h2><%= dishInstance.dish.name %></h2>
<h2><%= dishInstance.quantity %></h2>
<h2><%= dishInstance.order._id %></h2>

<button href="<%= dishInstance._id%>/edit">Edit</button>
<form action="<%= dishInstance._id %>?_method=DELETE" method="POST" id="delete">
    <button type="submit">Delete</button>
</form>

<%- include ('../partials/footer') %>
