<h1><%= title %></h1>

<form action="/employee/<%= employee._id %>?_method=PUT" method="POST">
    <input name="employee[username]" value = "<%= employee.username %">
    <input name="employee[password]" value = "<%= employee.password %">
    <input name="employee[name]" value = "<%= employee.name %">
    <input name="employee[email]" value = "<%= employee.email %">
    <input name="employee[phone]" value = "<%= employee.phone %">
    <input name="employee[govIDNumber]" value = "<%= employee.govIDNumber %">
    <input name="employee[salary]" value = "<%= employee.salary %">
    <input name="employee[role]" value = "<%= employee.role %">
    <input name="employee[attendance]" value = "<%= employee.attendance %">

    <button type="submit">Submit</button>
</form>