<%- include ('../partials/header') %>
<h1><%= title %></h1>

<form action="<%= table._id %>?_method=PUT" method="POST">
    <input name="name" value="<%= table.name %>">
    <input name="capacity" value="<%= table.capacity %>">
    <input name="available" value="<%= table.available %>">
    <input name="location.x" value="<%= table.location.x %>">
    <input name="location.y" value="<%= table.location.y %>">
    <input name="location.z" value="<%= table.location.z %>">
    <input name="hall" value="<%= table.hall %>">
    <input name="waiter" value="<%= table.waiter %>">

    <button type="submit">Submit</button>
</form>

<%- include ('../partials/footer') %>
