<%- include ('../partials/header') %>
<h1><%= title %></h1>

<% tables.forEach((table)=>{ %>
    <h2><%= table.name %></h2>
    <h2><%= table.capacity %></h2>
    <h2><%= table.available %></h2>
    <h2><%= table.location.x %></h2>
    <h2><%= table.location.y %></h2>
    <h2><%= table.location.z %></h2>
    <h2><%= table.hall %></h2>
    <h2><%= table.waiter %></h2>
    <a href="<%= table._id %>">Details</a>
<% }) %>
