<% include partials/header %>

<div class="ui container main segment">
    <h1>Index Page</h1>
    <div class="blog">
        <% blogs.forEach((blog)=>{ %>
            <h3> 
                <%= blog.title %>
            </h3>
            <img src="<%=blog.image %>" >
            <p><%= blog.body.substring(0,10) %>... </p>
            <h4>Created At: </h4><%= blog.created.toDateString() %> 
            <a href="/blogs/<%= blog._id %>">Show More</a>
            <% }) %>
    </div>
</div>
        
<% include partials/footer %>





