<% include partials/header %>
<h1>Hotel details</h1>

<h5>
    <%=hotel.name  %>
</h5>
<p><%=hotel.description  %></p>
<img src="<%=hotel.image%>" alt="">

<% hotel.comments.forEach((comment)=>{ %>
    <p>
        <strong> <%= comment.author %> </strong> - <%= comment.text %>
    </p>
<% }) %>


<% include partials/footer %>