<%- include ('../partials/header') %>
<h1><%= title %></h1>

<form action="<%= category._id %>?_method=PUT" method="POST">
    <input name="name" value = "<%= category.name %>">
    <input name="cook" value = "<%= category.cook %>">
    <input name="dish" value = "<%= category.dish %>">

    <button type="submit">Submit</button>
</form>

<%- include ('../partials/footer') %>
