<%- include ('../partials/header') %>
<h1><%= title %></h1>

<h2><%= tableInstance.table.name %></h2>
<h2><%= tableInstance.booking._id %></h2>
<h2><%= tableInstance.isFree %></h2>

<button href="<%= tableInstance._id%>/edit">Edit</button>
<form action="<%= tableInstance._id %>?_method=DELETE" method="POST" id="delete">
    <button type="submit">Delete</button>
</form>

<%- include ('../partials/footer') %>
