<h1><%= title %></h1>

<% orders.forEach((order)=>{ %>
    <% order.status.forEach((status)=>{ %>
        <h2><%= status.status %></h2>
        <h2><%= status.time.toDateString() %></h2>
    <% }) %>
    <% order.items.forEach((item)=>{ %>
        <h2><%= item.dish.name %></h2>
        <h2><%= item.quantity %></h2>
    <% }) %>
    <h2><%= order.dine._id %></h2>
    <% order.cancellationReqs.forEach((cancellationReq)=>{ %>
        <h2><%= cancellationReqs.dish.name %></h2>
        <h2><%= cancellationReqs.stauts %></h2>
    <% }) %>
    <a href="/order/<%= order._id %>">Details</a>
<% }) %>
