<h1><%= title %></h1>

<form action="/create" method="POST">
    <input name="dish[name]" value="<%= dish.name %>">
    <input name="dish[description]" value="<%= dish.description %>">
    <input name="dish[ingredients]" value="<%= dish.ingredients %>">
    <input name="dish[goods]" value="<%= dish.goods %>">
    <input name="dish[category]" value="<%= dish.category %>">
    <input name="dish[goods]" value="<%= dish.goods %>">
    <input name="dish[price]" value="<%= dish.price %>">
    <input name="dish[isServing]" value="<%= dish.isServing %>">
    <input name="dish[veg]" value="<%= dish.veg %>">
    <input name="dish[eta]" value="<%= dish.eta %>">

    <button type="submit">Submit</button>
</form>