<%- include ('../partials/header') %>
<h1><%= title %></h1>

<form action="create" method="POST">
    <input name="name" placeholder="name">
    <input name="description" placeholder="description">
    <input name="ingredients" placeholder="ingredients">
    <label for="goods">
        <select id="goods" type="select" placeholder="Select goods" name="goods" required="true">
            <% goods.forEach((good)=>{ %>
                <option value= <%=good._id%> selected="selected"><%=good.name%></option>
            <% }) %>
        </select>
    </label><br>
    <input name="price" placeholder="price">
    <select name="isServing" placeholder="isServing">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
    <select name="veg" placeholder="veg/non-veg">
        <option value="Veg">Veg</option>
        <option value="Non-Veg">Non-Veg</option>
    </select>
    <input name="eta" placeholder="eta">

    <button type="submit">Submit</button>
</form>

<%- include ('../partials/footer') %>
