<h1><%= title %></h1>

<% dines.forEach((dine)=>{ %>
    <h2><%= dine.date %></h2>
    <h2><%= dine.booking.checkInTime %></h2>
    <h2><%= dine.bill.payableamount %></h2>
    <h2><%= dine.waiter.name %></h2>
    <h2><%= dine.customer.name %></h2>
    <h2><%= dine.tableInstances.table.name %></h2>
    <h2><%= dine.status.status %></h2>
    <h2><%= dine.status.time %></h2>
    <% dine.orders.forEach((order)=>{ %>
        <% order.items.forEach((item)=>{ %>
            <h2><%= item.dish.name %></h2>
            <h2><%= item.quantity %></h2>
        <% }) %>
    <% }) %>
    <a href="/dine/<%= dine._id %>">Details</a>
<% }) %>
