<h1><%= title %></h1>

<form action="/restaurant/<%= restaurant._id %>?_method=PUT" method="POST">
    <input name="restaurant[name]" value="<%= restaurant.name %>">
    <input name="restaurant[name]" value="<%= restaurant.name %>">
    <input name="restaurant[name]" value="<%= restaurant.name %>">
    <input name="restaurant[name]" value="<%= restaurant.name %>">
    <input name="restaurant[name]" value="<%= restaurant.name %>">

    <button type="submit">Submit</button>
</form>