<%- include ('../partials/header') %>
<h1><%= title %></h1>

<h2><%= restaurant.name %></h2>
<h2><%= restaurant.phone %></h2>
<h2><%= restaurant.address %></h2>
<h2><%= restaurant.activePlanID %></h2>
<% restaurant.halls.forEach((halls)=>{ %>
    <h2><%= table.name %></h2>
<% }) %>

<button href="<%= restaurant._id%>/edit">Edit</button>
<form action="<%= restaurant._id %>?_method=DELETE" method="POST" id="delete">
    <button type="submit">Delete</button>
</form>

<%- include ('../partials/footer') %>
