<%- include ('../partials/header') %>
<h1><%= title %></h1>

<form action="create" method="POST">
    <input name="waiterID" placeholder="waiterID">
    <input name="rating" placeholder="rating">
    <select id="employee" type="select" placeholder="Select employee" name="employee" required="true">
        <% employees.forEach((employee)=>{ %>
            <option value= <%=employee._id%> selected="selected"><%=employee.name%></option>
        <% }) %>
    </select>
    <button type="submit">Submit</button>
</form>

<%- include ('../partials/footer') %>


