<%- include ('../partials/header') %>
<h1><%= title %></h1>

<form action="/fooder/v1/waiter/<%= waiter._id %>?_method=PUT" method="POST">
    <input name="waiterID" value = "<%=waiter.waiterID %>">
    <input name="rating" value = "<%=waiter.rating %>">
    <select id="employee" type="select" value= <%=waiter.employee._id%> name="employee" required="true">
        <% employees.forEach((employee)=>{ %>
            <option value= <%=employee._id%> selected="selected"><%=employee.name%></option>
        <% }) %>
    </select>

    <button type="submit">Submit</button>
</form>

<%- include ('../partials/footer') %>
