<%- include ('../partials/header') %>
<h1><%= title %></h1>

<h2><%= booking.customer.name %></h2>
<h2><%= booking.dine._id %></h2>
<h2><%= booking.dine.date %></h2>
<h2><%= booking.checkInTime %></h2>
<h2><%= booking.stayingMinutes %></h2>
<h2><%= booking.checkOutTime %></h2>
<% booking.tableInstance.forEach((tableInstance)=>{ %>
    <h2><%= tableInstance.table.name %></h2>
<% })  %>

<button href="<%= booking._id%>/edit">Edit</button>
<form action="<%= blbookingog._id %>?_method=DELETE" method="POST" id="delete">
    <button type="submit">Delete</button>
</form>

<%- include ('../partials/footer') %>
