<h1><%= title %></h1>

<form action="/create" method="POST">
    <input name="booking[customer]" value = "<%= customer %>">
    <input name="booking[dine]" value = "<%= dine %>">
    <input name="booking[tableInstance]" value = "<%= tableInstance %>">
    <input name="booking[checkInTime]" value = "<%= checkInTime %>">
    <input name="booking[stayingMinutes]" value = "<%= stayingMinutes %>">

    <button type="submit">Submit</button>
</form>