<h1><%= title %></h1>

<form action="/create" method="POST">
    <input name="bill[isPaid]" value="<%= bill.isPaid %>">
    <input name="bill[dine]" value="<%= bill.dine %>">
    <input name="bill[dineAmount]" value="<%= bill.dineAmount %>">
    <input name="bill[taxAmount]" value="<%= bill.taxAmount %>">
    <input name="bill[serviceCharge]" value="<%= bill.serviceCharge %>">

    <button type="submit">Submit</button>
</form>