<%- include ('../partials/header') %>
<h1><%= title %></h1>

<form action="/fooder/v1/customer/<%= customer._id %>?_method=PUT" method="POST">
    <input name="name" value = "<%= customer.name %>">
    <input name="email" value = "<%= customer.email %>">
    <input name="phone" value = "<%= customer.phone %>">

    <button type="submit">Submit</button>
</form>

<%- include ('../partials/footer') %>
