<%- include ('../partials/header') %>
<h1><%= title %></h1>

<h2><%= customer.name %></h2>
<h2><%= customer.email %></h2>
<h2><%= customer.phone %></h2>
<% customer.bookings.forEach((booking)=>{ %>
    <h2><%= booking.dine.date %></h2>
<% }) %>

<button href="<%= customer._id%>/edit">Edit</button>
<form action="<%= blcustomerog._id %>?_method=DELETE" method="POST" id="delete">
    <button type="submit">Delete</button>
</form>

<%- include ('../partials/footer') %>
