<%- include ('../partials/header') %>
<h1><%= title %></h1>

<form action="<%= cook._id %>?_method=PUT" method="POST">
    <input name="employee" value = "<%=cook.employee %>">
    <input name="name" value = "<%=cook.name %>">
    <input name="category" value = "<%=cook.category %>">
    <input name="attendance" value = "<%=cook.attendance %>">

    <button type="submit">Submit</button>
</form>

<%- include ('../partials/footer') %>
