<h1><%= title %></h1>

<h2><%= cook.name %></h2>
<h2><%= cook.attendance %></h2>
<h2><%= cook.employee._id %></h2>
<% cook.category.forEach((category)=>{ %>
    <h2><%= category.name %></h2>
<% }) %>

<button href="/cook/<%= cook._id%>/edit">Edit</button>
<form action="/cook/<%= blcookog._id %>?_method=DELETE" method="POST" id="delete">
    <button type="submit">Delete</button>
</form>