<%- include ('../partials/header') %>

<a href="/fooder/v1/cook/create">Create</a>
<h1><%= title %></h1>

<% cooks.forEach((cook)=>{ %>
    <h2><%= cook.cookID %></h2>
    <h2><%= cook.employee.name %></h2>
    <a href="/fooder/v1/cook/<%= cook._id %>">Details</a>
<% }) %>