<%- include ('../partials/header') %>
<h1><%= title %></h1>

<form action="<%= good._id %>?_method=PUT" method="POST">
    <input name="name" value="<%= good.name %>">
    <input name="linkToPurchase" value="<%= good.linkToPurchase %>">
    <input name="threshold" value="<%= good.threshold %>">
    <input name="defaultPurchase" value="<%= good.defaultPurchase %>">
    <input name="quantityInStock" value="<%= good.quantityInStock %>">

    <button type="submit">Submit</button>
</form>

<%- include ('../partials/footer') %>
